body{
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    padding: 10px 100px;
    background-color: #B0E4FB;
    display: flex;
    flex-direction: row;
}

.logo-wrap{

}

.logo-wrap img{
    width: 80px;
    height: 80px;
    margin-left: 30px;
}

.logo-wrap h3{
    font-family: 'Open Sans', sans-serif;
    font-size:20px ;
    font-weight: normal;
    color: #000;
}

nav{

    position: absolute;
    top: 95px;
    right: 50px;

}

nav a{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-right: 30px;
    /* it removes the under lines*/
    text-decoration: none;
    color:  #3d3e3e;
}

nav a:hover{
    color: #000;
}

/*ABOUT US PAGE*/
.main{
    display: flex;
    flex-direction: row;
}
.info-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.about-column{
    /*width: 33%;*/
    /*text-align: center;*/
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px rgba(0,0, 0, 0.2);
    padding:50px 80px;
    display: inline-block;
    margin:20px 20px ;
    text-align: center;
}
.about-headLine{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #3d3e3e;
}

.about-column img{
    width: 100px;
}
.about-text{
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
}

/*PATIENT FORM*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;

}

.container {
    /*max-width: 400px;*/
    width: 90%;
    margin: 0 auto;
    position: relative;
    background-color: #FFFFFF;
}
.heading-tag{
    margin: 20px auto;
    padding: 100px;
    text-align: center;
    /*THE .. BRING YOU OUT OF THE CSS TO REACH THE IMAGES*/
    background-image: url("../images/header-tag-img.jpg");
    /*TO FIT OUR IMG. INTO OUR CONTAINER*/
    background-size: contain;
}
#tag1{
    font-size: 30px;
    font-weight: normal;
    color: #3d3e3e;

}
#tag2{
    margin-top: 10px;
    font-size: large;
    font-weight: normal;
    color:#3d3e3e;
}

/* DOCTORS INFO. */
.doctor-wrap-row{
    /*width: 80%;*/
    margin: 20px auto;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}
.doctor-info{
    background-color: #FFFFFF;
    margin: 10px 0px;
    /*border: 1px solid #000000;*/
    /*border-radius: 8px 8px 8px 8px;*/
    box-shadow: 0 1px 4px rgba(0,0, 0, 0.2);
    padding:50px 80px;
    display: inline-block;
    margin-right:10% ;
}

.doctor-info:nth-child(3n)::after {
    content: "";
    display: block;
}
.doc-img{
    width: 150px;
}
/*WITH THIS CODE IN SEARCH BUTTON YOU FIRST GET RID
OF THE DEFAULT DESIGN IN ORDER TO GIVE IT A NEW DESIGN*/
.search-doc{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    background-color: #B0E4FB;
    padding: 3px 35px;
}
.search-doc:hover{
    background-color: #93dff6;
}
.doc-name{
    font-size: larger;
    font-weight: bold;


}
.doc-specialty{
    font-size: larger;

}
.doc-clinic{
    font-size: larger;
}

/*SUBMIT FORM*/
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 150px auto;
    width: 60%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background:#B0E4FB;
    color: #000000;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: #93dff6;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
    text-align: center;
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

/*FOOTER DECORATION*/

/*.footer-container{*/
/*    background-color:#215261;*/
/*    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);*/
/*    padding: 10px;*/
/*    text-align: center;*/
/*    height: 280px;*/

/*}*/

/*  START FOOTER STYLES */

.footer-wrap{
    width:100%;
    height: 300px;
    background-color:#215261 ;
    padding: 10px;
}

.footer-navigation-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
}

.footer-navigation-wrap a{
    text-decoration: none;
}

.footer-navigation-wrap a:visited {
    color: #fff;
}

.social-media-icon-wrap{
    width: 100%;
    text-align: center;
}



/* END FOOTER STYLES */

